*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.container{
    display: flex;
    gap: 14px;
    justify-content: center;

}

.mini-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 20vh;
    width: 21vh;

}
.img:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale(1.5);
    transition: 2s ease all;
}
.img1{
    visibility: hidden;
}